/* Core Styles */
.container {
    padding: 0 1.5em;
}

#nav-topper {
    display: none;
}

main {
    position: relative;
    top: -20%;
}

p {
    font-size: 17px;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}

body, html, h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow-x: hidden;
    color: #414141;
}

h1, h2, h3, h4, h5, h6 {
    overflow-y: hidden;
}

#noScroll {
    overflow: scroll;
}

#gallery h3 {
    display: none;
}

#desktop-position {
    display: none;
}

#desktop-partners {
    display: none;
}

.quote,
.call {
	display: none;
}

.navbar-links {
    display: none;
}

#logo {
    display: none;
}

#call-strip {
	display: none;
}

.button-solid {
    display: inline-block;
    background: #DB170D;
    border-style: solid;
    border-width: 2px;
    border-color: #DB170D;
    font-size: 15px;
    margin: 10px 0;
    padding: 12px 40px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    border-radius: 5px;
    white-space: nowrap;
    float: left;
}

.button-solid a:hover {
    background: #fff;
    border-color: #fff;
    color: #DB170D;
    -webkit-transition: background 0.4s ease 0s;
    -o-transition: background 0.4s ease 0s;
    transition: background 0.4s ease 0s;
    -webkit-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    cursor: pointer;
}

.button-transparent {
    display: inline-block;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-size: 15px;
    margin: 10px 0;
    padding: 6px 30px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    border-radius: 5px;
    white-space: nowrap;
    float: left;
    height: 40px;
}

.button-transparent a:hover {
    background: #fff;
    border-color: #fff;
    color: #DB170D;
    -webkit-transition: background 0.4s ease 0s;
    -o-transition: background 0.4s ease 0s;
    transition: background 0.4s ease 0s;
    -webkit-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    cursor: pointer;
}

/*-- -------------------------- -->
<---        NAVIGATION          -->
<--- -------------------------- -*/

.navbar {
    background-color: #FFFFFF;
    width: 100%;
    height: 78px;
    border-bottom: 5px solid #DB170D;
    position: relative;
    z-index: 1;
}

.open-slide {
    float: right;
    margin-right: 1.5em;
    display: block;
    z-index: 4;
    position: absolute;
    right: 0;
    top: 25px;
}

.side-nav {
    width: 0;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    right: -1px;
    text-align: right;
    z-index: 15;
}

#side-hidden {
    background-color: #000;
    opacity: 0.9;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    left: 0;
    margin: 0;
    width: 0;
    z-index: 11;
}

.side-nav ul {
    display: block;
    text-decoration: none;
    z-index: 6;
    /* Added this */
    padding: 0;
    position: relative;
    list-style: none;
}

/* Added this */
.nav-item {
    display:block;
    margin: 0;
}

.side-nav ul a {
    position: relative;
    width: 100%;
    /* Changed this */
    /* padding: 10px 130px 10px 100px;*/
    padding: 20px 15px;
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    z-index: 6;
    /* Removed this */
    /* right: 30px; */
    text-align: right;
    /* Added these */
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;  
}

.btn-close {
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    /* Changed this */
    /* left: 22px; */
    left: 0;
    font-size: 36px;
    text-decoration: none;
    color: #2F2E2E;
    right: 7px;
    padding: 0;
}

.btn-close a:hover {
    color: #444;
    cursor: pointer;
    background: #fff;
}

.side-nav .btn-close:hover {
    color: #fff
}

.side-nav li a:hover {
    color: #fff;
    background: #DB170D;
}

.side-active {
    color: #ffffff !important;
    background: #DB170D;
}

.mobile-logo {
    position: relative;
    right: 0%;
    padding: 0;
}

.mobile-logo img {
    width: 200px;
    position: relative;
    top: 8px;
}

.desktop-logo {
    display: none;
}

#side-menu {
    margin: 0;
    width: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#side-menu ul {
    position: relative;
    top: -10px;
}

#on-top {
    display: none;
    font-size: .9em;
}

#bottom-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 7;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    position: absolute;
}

.bottom {
    width: 50%;
    background: white;
    bottom: 0;
    position: fixed;
    height: 60px;
    display: block;
    left: 0;
    border-top: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}

.bottom2 {
    width: 50%;
    background: white;
    bottom: 0;
    position: fixed;
    height: 60px;
    display: block;
    position: fixed;
    right: 0;
    border-top: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
}

#bottom-menu i {
    color: #2F2E2E;
    text-align: center;
    position: relative;
    /* center icon vertically */
    top: calc(50% - 11px);
}

.copyright {
    height: 180px;
}

.copy-center {
    padding: 0;
}

#company {
    color: #fff;
    text-decoration: none;
}

#company a:hover {
    color: #b0b0b0;
}

/*-- -------------------------- -->
<---           HERO             -->
<--- -------------------------- -*/

#s-hero {
    height: 400px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background:url("../images/image-15.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portdark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
}

.s-header {
    position: relative;
    z-index: 10;
    padding: 30px 1.5em;
}

.s-header h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.s-header p {
    color: #fff;
    font-size: 15px;
}

/*-- -------------------------- -->
<---          GALLERY           -->
<--- -------------------------- -*/

.gallery {
    height: auto;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery img:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 2000px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 20000;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
} 

.modal img {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0 auto !important;
}

.modal i {
    height: auto;
    color: #fff;
    font-size: 1.875em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.modal i:hover {
    cursor: pointer;
    opacity: .6;
}

/* Modals Visibility */

.modal-one,
.modal-two,
.modal-three,
.modal-four,
.modal-five,
.modal-six,
.modal-seven,
.moadl-eight,
.modal-nine,
.modal-ten,
.modal-eleven,
.modal-twelve,
.modal-thirteen,
.modal-fourteen,
.modal-fifteen,
.modal-sixteen,
.modal-seventeen,
.moadl-eighteen,
.modal-nineteen,
.modal-twenty,
.modal-twenty-one,
.modal-twenty-2,
.modal-twenty-3,
.modal-twenty-4,
.modal-twenty-5,
.modal-twenty-6,
.modal-twenty-7,
.modal-twenty-8,
.modal-twenty-9,
.modal-thirty,
.modal-thirty-2,
.modal-thirty-3,
.modal-thirty-4 {
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* Modal Visibility Clicked */

.modal-one.clicked,
.modal-two.clicked,
.modal-three.clicked,
.modal-four.clicked,
.modal-five.clicked,
.modal-six.clicked,
.modal-seven.clicked,
.modal-eight.clicked,
.modal-nine.clicked,
.modal-ten.clicked,
.modal-eleven.clicked,
.modal-twelve.clicked,
.modal-thirteen.clicked,
.modal-fourteen.clicked,
.modal-fifteen.clicked,
.modal-sixteen.clicked,
.modal-seventeen.clicked,
.modal-eighteen.clicked,
.modal-nineteen.clicked,
.modal-twenty.clicked,
.modal-twenty-one.clicked,
.modal-twenty-2.clicked,
.modal-twenty-3.clicked,
.modal-twenty-4.clicked,
.modal-twenty-5.clicked,
.modal-twenty-6.clicked,
.modal-twenty-7.clicked,
.modal-twenty-8.clicked,
.modal-twenty-9.clicked,
.modal-thirty.clicked,
.modal-thirty-1.clicked,
.modal-thirty-2.clicked,
.modal-thirty-3.clicked,
.modal-thirty-4.clicked  {
    visibility: visible;
    margin: auto;
    z-index: 20000;
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
}

.modal-one.clicked img,
.modal-two.clicked img,
.modal-three.clicked img,
.modal-four.clicked img,
.modal-five.clicked img,
.modal-six.clicked img,
.modal-seven.clicked img,
.modal-eight.clicked img,
.modal-nine.clicked img,
.modal-ten.clicked img,
.modal-eleven.clicked img,
.modal-twelve.clicked img,
.modal-thirteen.clicked img,
.modal-fourteen.clicked img,
.modal-fifteen.clicked img,
.modal-sixteen.clicked img,
.modal-seventeen.clicked img,
.modal-eighteen.clicked img,
.modal-nineteen.clicked img,
.modal-twenty.clicked img,
.modal-twenty-one.clicked img,
.modal-twenty-2.clicked img,
.modal-twenty-3.clicked img,
.modal-twenty-4.clicked img,
.modal-twenty-5.clicked img,
.modal-twenty-6.clicked img,
.modal-twenty-7.clicked img,
.modal-twenty-8.clicked img,
.modal-twenty-9.clicked img,
.modal-thirty.clicked img,
.modal-thirty-1.clicked img,
.modal-thirty-2.clicked img,
.modal-thirty-3.clicked img,
.modal-thirty-4.clicked img  {
    max-width: 800px;
}

/* Clicked Images */

html.clicked {
    overflow-y: hidden;
}

.modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*-- -------------------------- -->
<---          CONTACT           -->
<--- -------------------------- -*/

#contact {
    height: 300px;
    position: relative;
    background: url("../images/IMG-2181-compressor (1).jpg");
    background-position: center center;
}

.contact-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #DB170D;
    opacity: .8;
}

.left h3 {
    color: #fff;
    font-size: 39px;
    font-weight: 700;
    text-align: center;
}

.left p {
    color: #fff;
    text-align: center;
    margin: 10px 0px 10px 0;
}

.contact-button {
    background: #fff;
    color: #DB170D;
    border: none;
}

.contact-button:hover {
    background: #000;
    color: #fff;
}

.contact-flex {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 5;
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

.footer-flex {
    padding-top: 50px;
}

#footer {
    background:#fff;
}

.footer-item p {
    margin: 0;
    text-align: left;
}

.footer-item img {
    margin: 0px 100% 30px 0;
    padding-top: 30px;
    float: left;
}

.footer-item h4 {
    font-size: 18px;
    color: #414141;
    text-align: left;
    margin-top: 40px;
}

.footer-line {
    width: 260px;
    border-top: 2px solid #DB170D;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button-list a {
    text-decoration: none;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
    display: block;
}

.button-list a:hover {
    color: #DB170D;
    opacity: .7;
}

.green {
    color: #DB170D;
}

.footer-main-line {
    width: 100%;
    margin: 20px 0;
    border-top: 2px solid #DB170D;
}

.branding a {
    text-decoration: none;
}

.branding a:hover {
    color: #E8E6E6;
}

.branding {
    height: 150px;
    text-align: center;
}

.branding p {
    font-size: 13px;
    margin-bottom: 2px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 10px;
    }

    .gallery img {
        width: 50%;
        padding: 20px;
    }

    .modal img {
        width: 100%;
    }

    .contact-button {
        width: 250px;
        margin: 15px auto;
    }

}

@media screen and (min-width: 1025px) {

    .container {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    /*-- -------------------------- -->
    <---         NAVIGATION         -->
    <--- -------------------------- -*/

    .topper-content i {
        float: left;
        color: #fff;
        margin: 0px 10px 0 0;
    }

    .topper-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    #nav-topper {
        display: block;
    }

    .phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    #nav-topper {
        height: 40px;
        background: #414141;
        width: 100%;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .topper-content p {
        float: left;
        margin: 0px 65px 0px 0px;
        font-size: 10px;
        color: #eaeaea;
        width: auto;
    }

    p.topper-content {
        font-size: .8em;
    }

    .topper-content p:last-child {
        margin-right: 0;
    }

    #bottom-menu {
        display: none;
    }

    #side-menu {
        display: none;
    }

    .open-slide {
        display: none;
    }

    .mobile-logo {
        display: none !important;
    }

    .desktop-logo {
        display: block;
        float: left;
        height: 100px;
    }

    .desktop-logo img {
        margin-top: 20%;
        margin-bottom: auto;
    }

    .navbar {
        height: 100px;
    }

    .navbar-links {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        bottom: 15px;
        list-style: none;
    }

    .navbar-menu {
        height: 100px;
    }

    .navbar-links li {
        float: left;
        margin: 6.5% 30px 0 30px;
    }

    .navbar-links li a {
        text-decoration: none;
        color: #6A6A6A;
        -webkit-transition: color 0.4s ease 0s;
        -o-transition: color 0.4s ease 0s;
        transition: color 0.4s ease 0s;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }

    ul.navbar-links a:hover {
        color: #999999;
    }

    #active {
        color: #db170d;
    }

    ul.navbar-links {
        float: right;
        text-align: right;
    }

    .navbar-links {
        margin-right: 0;
    }

    .navbar-links li:last-child {
        margin-right: 0;
    }

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    #hero {
        height: 600px;
    }

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 10px;
        max-width: 1100px;
        margin: 100px auto;
    }

    .gallery img {
        width: 300px;
        margin: 15px;
    }

    .modal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .modal img {
        display: block;
        height: 600px;
        width: auto;
        height: auto;
        margin: auto !important;
    }

    /*-- -------------------------- -->
    <---           CONTACT          -->
    <--- -------------------------- -*/

    .contact-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto;
        text-align: left;
    }

    .left p,
    .left h3 {
        text-align: left;
        margin: 0;
    }

    #contact {
        height: 170px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-dark {
        height: 100%;

    }

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    .footer-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .footer-item img {
        margin: 0 80px 40px 0;
        padding: 0;
        width: 150px;
    }

    .footer-item {
        width: 20%;
    }

    .footer-item h4 {
        font-weight: 900;
    }

    .footer-item p {
        font-size: 15px;
    }

    .footer-line {
        width: 85%;
    }

    .branding {
        height: 70px;
    }

    .branding p {
        margin-bottom: 2px;
    }

}